.App {
  text-align: center;
}

.App-header123#RandomGame {
  background-color: #222;
  height: 10rem;
  padding: 0.5rem;
  color: #ffffff !important;
}

/* .h1 {
  color: white;
} */

.App-title123 {
  font-size: 5rem;
  color: #ffffff !important;
}

.App-intro {
  font-size: large;
  padding-left: -100rem;
}

.form-group {
  width: 75rem;
  padding-left: 50rem;
}

.button-for-submitting-games {
  padding-left: 50rem
}

.button-for-random {
  padding-left: 50rem
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
